
body {
  background-color: rgb(236, 206, 149);
  font-family: Arial, sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 12px;
}

.home h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.home p {
  font-size: 1em;
  margin-bottom: 20px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: #e4910c;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .active {
  font-weight: bold;
}

.pizza-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.pizza-card {
  width: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
  margin: 20px;
}

h3 {
  font-size: 14px;
}

.button-container button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pizza-container h1 {
  text-align: center;
}
.carrito {
  text-align: center;
}

@media (max-width: 768px) {
  .pizza-card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .pizza-card {
    width: 100%;
  }
}